<!DOCTYPE html>
<html lang="es">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>ToDo List</title>

    <!-- JQuery -->
    <script src="{{ url_for('static', filename='js/jquery.min.js') }}"></script>

    <!-- Bootstrap -->
    <link rel="stylesheet" href="{{ url_for('static', filename='css/bootstrap.min.css') }}">
    <script src="{{ url_for('static', filename='js/bootstrap.bundle.min.js') }}"></script>

    <!-- Bootstrap icons -->
    <link rel="stylesheet" href="{{ url_for('static', filename='css/bootstrap-icons.min.css') }}">

    <!-- Custom css -->
    <link rel="stylesheet" href="{{ url_for('static', filename='css/custom.styles.css') }}">

    <!-- Custom js -->
    <script src="{{ url_for('static', filename='js/custom.script.js') }}"></script>
</head>


<body>
    <div class="container-fluid my-5">
        <div class="container">

            <div id="title_row" class="row">
                <h1 class="fs-1 text-center">Tasks list</h1>
            </div>
            <div id="note_row" class="row">
                <h2 class="flash-text fs-1 text-center text-warning">WARNING:</h2>
                <h3 class="text-danger text-center">THIS IS AN EXAMPLE, ALL NAMES AND DESCS WOULD BE RESETED EVERY 2 HOURS</h3>
                <h3 class=" text-danger text-center">DOWNLOAD THE PROJECT FROM <a class="text-danger" href="https://github.com/Rogudev/Tasks-list---Web-version">GITHUB</a> AND DON'T FORGET DELETING THE DIV WITH "<i>#note_row</i>" ID FROM INDEX TEMPLATE AND "<i>reset_db</i>" FROM "<i>app.py</i>"</h3>
                
                <script>
                    $(document).ready(function() {
                        function toggleClassesWithFade() {
                            $('.flash-text').each(function() {
                                var $this = $(this);
            
                                // fade color
                                $this.fadeOut(250, function() {
                                    // toggle classes
                                    if ($this.hasClass('text-warning') || $this.hasClass('text-white')) {
                                        $this.toggleClass('text-white text-warning');
                                    }
                                    // Fade in the new color
                                    $this.fadeIn(250);
                                });
                            });
                        }
            
                        // toggle class every 750 ms
                        setInterval(toggleClassesWithFade, 750);
                    });
                </script>
            </div>

            <div class="row my-3"></div>


            <div class="row row-gap-4 column-gap-5">

                <div class="col-12 col-md-6">

                    <div class="row">
                        <div class="col-12">
                            <h3 class="fs3 text-center">Tasks</h3>
                        </div>
                    </div>

                    <div class="row mt-4">
                        

                        <div id="table_content" class="row m-0 p-0">
                            {% for task in tasks %}
                            <div id="table_titles" class="row text-center">
                                <div class="col-2 fw-bold">#</div>
                                <div class="col-4 fw-bold">Name</div>
                                <div class="col-2 fw-bold">Done</div>
                                <div class="col-2 fw-bold">Delete</div>
                                <div class="col-2 fw-bold">Update</div>
                            </div>
                            <div class="col-12 row text-center d-flex align-items-center">
                                <div class="col-2 fw-bold">{{ loop.index0 + 1 if not task.finalized else ''}}</div>
                                <div class="col-4">
                                    <textarea class="form-control m-0 p-0 text-center taskAdjustHeight {{ 'text-success' if task.finalized else 'text-danger' }}" data-id="Name{{ loop.index0 }}">{{ task.title }}</textarea>

                                </div>

                                {% if task.finalized %}
                                <!-- done btn -->
                                <div class="col-2">
                                    <i class="bi bi-check2-square fs-4 text-success"></i>
                                </div>
                                {% else %}
                                <!-- finalize link -->
                                <div class="col-2">
                                    <a class="finalize-task" data-id="{{ loop.index0 }}" href="">
                                        <i class="bi bi-square fs-5 text-warning"></i>
                                    </a>
                                </div>
                                {% endif %}
                                <!-- delete btn -->
                                <div class="col-2">
                                    <a class="rm-task" data-id="{{ loop.index0 }}" href="">
                                        <i class="bi bi-trash3 fs-4 text-danger"></i>
                                    </a>
                                </div>
                                <!-- update btn -->
                                <div class="col-2">
                                    <a class="update-task" data-id="{{ loop.index0 }}" href="">
                                        <i class="bi bi-arrow-repeat fs-4 text-warning"></i>
                                    </a>
                                </div>
                            </div>
                            <div class="col-12 row mt-3">
                                <div class="col-2 fw-bold text-center d-flex align-items-center">Desc:</div>
                                <div class="col-10 ">
                                    <textarea class="text-justify form-control taskAdjustHeight text-primary-emphasis" data-id="Desc{{ loop.index0}}">{{ task.description }}</textarea>
                                </div>
                            </div>

                            <hr class="mt-4 mb-3">
                            {% endfor %}
                        </div>
                    </div>

                </div>

                <div class="col-12 col-md-5">

                    <div class="row">

                        <div class="row">
                            <h3 class="fs-3 text-center">Add task </h3>
                        </div>
                        <div class="mb-3 mt-4">
                            <input type="task" name="name" class="form-control mb-2" id="task_name_input"
                                placeholder="Task title">

                            <textarea name="desc" class="form-control" aria-label="With textarea" id="task_desc_input"
                                placeholder="Task description"></textarea>
                        </div>

                        <button id="add_task-btn" type="submit"
                            class="btn btn-primary d-flex align-items-center justify-content-center">
                            Add <i class="bi bi-patch-check fs-4 ms-2"></i>
                        </button>

                    </div>

                    <div class="row my-4"></div>

                    <div class="row">
                        <button id="shutdown-btn"
                            class="btn btn-warning d-flex align-items-center justify-content-center">
                            Close app <i class="bi bi-x-octagon fs-5 ms-2"></i>
                        </button>
                    </div>

                </div>

            </div>

        </div>
    </div>


</body>

</html>